body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

#app {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

#addItemForm {
    display: none;
    margin-top: 10px;
}

input {
    padding: 12px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete {
    background-color: #f44336;
}

button.delete:hover {
    background-color: #d32f2f; /* Darker shade on hover */
}

button.add:hover {
    background-color: #388e3c; /* Dark green shade on hover */
}
